/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; background: black;}

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { width: 960px; margin: 80px auto; }

.badge {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

@font-face
{
  font-family: MagicRingFont;
  src: url(MagicRing.ttf);
}
.ring .token-level {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.ring .token-level .token {
  position: absolute;
  color: #FFF;
  text-shadow: -1px 1px 20px rgba(237, 112, 215, 0.7), 
                1px 1px 20px rgba(237, 112, 215, 0.7), 
                1px -1px 20px rgba(237, 112, 215, 0.7), 
               -1px -1px 20px rgba(237, 112, 215, 0.7);
  font: 24px MagicRingFont, MonoSpace;
  height: 300px;
  width: 20px;
  top: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.ring .center-content {
	position: absolute;
	left: 50%;
	top: 50%;

	margin-top: -20px;
	margin-left: -30px;

	font: 32px "Georgia", "Helvetica Neue", "Helvetica";
  color: #FFF;
  text-align: center;
  text-shadow: -1px 1px 16px rgba(237, 112, 215, 0.7), 
              1px 1px 16px rgba(237, 112, 215, 0.7), 
              1px -1px 16px rgba(237, 112, 215, 0.7), 
             -1px -1px 16px rgba(237, 112, 215, 0.7);
}
.ring .center-content:hover{
	transition: rgba(177, 17, 22, 1) .5s;
}

.elem {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;

    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.elem:hover {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}