/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px Georgia, serif; background: black;}

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { width: 960px; margin: 80px auto; }

.badge {
  position: relative;
  border-radius: 50%;
}
.title {
  color: white;
  font: 32px "Georgia", "Helvetica Neue", "Helvetica";
}

@font-face
{
  font-family: MagicRingFont;
  src: url(MagicRing.ttf);
}
.ring {
  position: relative;
  width: 500px;
  height: 500px;
}
.ring .token-level {
  position: relative;
  left: 50%;
  top: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-shadow: -1px 1px 20px rgba(237, 112, 215, 0.7), 
                1px 1px 20px rgba(237, 112, 215, 0.7), 
                1px -1px 20px rgba(237, 112, 215, 0.7), 
               -1px -1px 20px rgba(237, 112, 215, 0.7);
}
.ring .token-level-const {
  position: relative;
  left: 50%;
  top: 0;
  z-index: 999;
  text-shadow: -1px 1px 20px rgba(237, 112, 215, 0.7), 
                1px 1px 20px rgba(237, 112, 215, 0.7), 
                1px -1px 20px rgba(237, 112, 215, 0.7), 
               -1px -1px 20px rgba(237, 112, 215, 0.7);
}
.ring .token-level .token {
  position: absolute;
  color: #FFF;
  font: 24px MagicRingFont, MonoSpace;
  height: 300px;
  width: 20px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.ring .center-content {
	position: absolute;
	left: 50%;
	top: 50%;

	margin-top: -20px;
	margin-left: -30px;

  width: 128px;
  height: 32px;
	font: 32px "Georgia", "Helvetica Neue", "Helvetica";
  color: #FFF;
  text-align: center;
  text-shadow: -1px 1px 16px rgba(237, 112, 215, 0.7), 
              1px 1px 16px rgba(237, 112, 215, 0.7), 
              1px -1px 16px rgba(237, 112, 215, 0.7), 
             -1px -1px 16px rgba(237, 112, 215, 0.7);

}
.ring .center-content:hover{
	transition: rgba(177, 17, 22, 1) .5s;
  -moz-box-shadow: 0px 0px 30px    rgba(237, 112, 215, 0.7);
  -webkit-box-shadow: 0px 0px 30px rgba(237, 112, 215, 0.7);
  box-shadow: 0px 0px 30px         rgba(237, 112, 215, 0.7);
}
/* Animation CSS */
.counter-clockwise {
  -webkit-animation:counter-clockwise linear infinite;
  animation:counter-clockwise linear infinite;
}
.clockwise {
  -webkit-animation:clockwise linear infinite;
  animation:clockwise linear infinite;  
}
@keyframes counter-clockwise {
  from {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
  to   {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
}
/* Safari and Chrome */
@-webkit-keyframes counter-clockwise {
  from {-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);-o-transform: rotate(360deg);}
} 
/* 順時針動畫 */
@keyframes clockwise {
  from {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-ms-transform: rotate(-360deg);-o-transform: rotate(-360deg);transform: rotate(-360deg);}
}
/* Safari and Chrome */
@-webkit-keyframes clockwise 
{
  from {-webkit-transform: rotate(0deg);-o-transform: rotate(0deg);}
  to {-webkit-transform: rotate(-360deg);-o-transform: rotate(-360deg);}
}